/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navbar styles */
.sticky-nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    background: #2c3036;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo h2 {
    font-size: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 2rem;
}

.menu li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #7bccb7;
}

/* Hero section styles */
.hero {
    background: linear-gradient(to bottom right, #7bccb7, #393E46);
    color: white;
    text-align: center;
    padding: 6rem 2rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.5rem;
}

/* About Me section styles */
.description {
    padding: 4rem 2rem;
    background: #393E46;
}

.description h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1rem;
}

/* Container for About Me image and text */
.about-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    background-color: #393E46;
    border-radius: 15px;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: -100px;
}

/* Text style in About Me, inside rectangle */
.about-text {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1.5rem;
    color: white;
    max-width: 500px;
}

.about-text h3 {
    margin: 0;
    font-size: 60px;
    color: #7bccb7;
}

.about-text h4 {
    font-size: 25px;
}

.about-text p {
    margin: 0.5rem 0;
    color: #ccc;
    font-size: 20px;
}

/* Contact section styles */
.contact {
    padding: 4rem 2rem;
    text-align: center;
    background: #393E46;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

.contact-info img {
    width: 100px;
    margin-bottom: 1rem;
}

.contact-info h3 {
    font-size: 1.5rem;
    color: white;
}

/* Footer styles */
footer {
    background: #2c3036;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    font-size: 0.9rem;
}
